@{
    ViewBag.Title = "Home Page";
}

<!-- Container for the image gallery -->
<div class="imagecontainer">

    <!-- Full-width images with number text -->

    @for (int i = 1; i < ViewBag.Images.Count + 1; i++)
    {
        <div class="mySlides">
            <div class="numbertext">@i / @ViewBag.Images.Count</div>
            <img src="@Url.Content(ViewBag.Images[i-1].ImagePath)" style="width:100%">
        </div>
    }

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Image text -->
    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <!-- Thumbnail images -->
    <div class="row">

        @for (int i = 1; i < ViewBag.Images.Count + 1; i++)
        {
            <div class="column">
                <img class="demo cursor" src="@Url.Content(ViewBag.Images[i-1].ImageThumbPath)" style="width:100%" onclick="currentSlide(@i)" alt= "@ViewBag.Images[i-1].Description">
            </div>
        }

    </div>
</div> 